<h2>My Events page</h2>

{{#if allEvents.length}}
<ul>
  {{#each allEvents}}
  <li class="event">
    <form action="/pages/update" method="POST">
      <label>
        <input type="checkbox">
        <span>{{title}}</span>
        <span>{{text}}</span>
        <span>{{date}}</span>
        <span>{{time}}</span>

        <input type="hidden" value="{{id}}" name="id">
        <button class="btn btn-small" type="submit">Update</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul>
{{else}}
<p>No Events!</p>
{{/if}}
